<section class="banner">
    <div class="header-content-inner"> 
            <h2>About Us<h2>
    </div>
</section>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <p class="text-faded">The predecessor of Graph Strategist was an analysis platform for Wall-street's quant hedge funds, whose extravagant annual fee ( about 200,000 USD per terminal per year) limited its adoption/popularity ,only few hedge funds could afford it. Huanrong summoned experts and professionals in finance and internet technology fields to optimize the platform, and by leveraging the Cloud Computing technology and Big Data technology, we invented the new generation of platform for financial investment analysis and collaboration : Graph Strategist(a.k.a GS, more affordable, more accessible).
                </p>
                <p class="text-faded">Further more, experts in Huanrong developed various analysis tools for investors and organizations with different backgrounds. By minimizing workflow procedures and improving analyzing efficiency, these tools can help investors and organizations to find investment opportunities more effective, and therefore achieve a higher profit.
                </p>
                <p class="text-faded">Graph Strategist also embeds the first graphic coding-free quantitative programming module in China, greatly lowering the learning curve for users to perform quantitative analysis, enabling large number of non-quant analysts to perform professional quantitative analysis.
                </p>
            </div>  
        </div>
    </div>
</section>
