<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Graph Strategist (GS)</h2>
                <hr class="light">
                <p class="text-faded">Graph Strategist, funded by top institutional investors, is the next generation analyst platform that creates and analyzes deep linking in Big Data. The platform aims to model the intelligence with which networked everyday investors can interact visually and intuitively to accomplish analysis tasks, which we call the interactive networked AI system!</p>
                <a href="about.html" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
</section>
