<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="mailto:info@graphstrategist.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>General Corporate</h3>
                    </a>
                    <p class="text-muted">info@graphstrategist.com</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="mailto:ales@graphstrategist.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>Service and Product</h3>
                    </a>
                    <p class="text-muted">sales@graphstrategist.com</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="mailto:hr@graphstrategist.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>Career Information</h3> 
                    </a>
                    <p class="text-muted">hr@graphstrategist.com</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Address</h2>
                <hr class="primary">
                <p class="text-muted">Room 1003, Block A, No.7 Block, 128 Huayuan Rd, Shanghai, China</p>
                <a href="http://gaode.com/search?id=B00156O09D&city=310109&geoobj=121.468387%7C31.268661%7C121.483837%7C31.276024&query_type=IDQ&query=%E5%BE%B7%E5%BF%85%E8%BF%90%E5%8A%A8Loft%E5%9B%BD%E9%99%85%E4%BD%93%E8%82%B2%E4%BA%A7%E4%B8%9A%E5%9B%AD7%E8%A1%97%E5%8C%BAA%E5%BA%A7&zoom=17" class="btn btn-primary btn-xl page-scroll" target="_blank">Go !</a>       
            </div>
        </div>
   </div>
</section>

