<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="mailto:info@graphstrategist.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>General Corporate</h3>
                    </a>
                    <p class="text-muted">info@graphstrategist.com</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="mailto:ales@graphstrategist.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>Service and Product</h3>
                    </a>
                    <p class="text-muted">sales@graphstrategist.com</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <a href="mailto:hr@graphstrategist.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>Career Information</h3> 
                    </a>
                    <p class="text-muted">hr@graphstrategist.com</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Address</h2>
                <hr class="primary">
                <p class="text-muted">Room 301, Building 2, No.500 South Ruijin Road, Shanghai, China</p>
                <a href="http://gaode.com/search?id=B0FFH2DHOB&city=310104&geoobj=121.467092%7C31.197326%7C121.470954%7C31.199168&query_type=IDQ&query=%E8%A7%86%E8%A7%89%E5%9B%AD2%E5%8F%B7%E6%A5%BC&zoom=19" class="btn btn-primary btn-xl page-scroll" target="_blank">Go !</a>       
            </div>
        </div>
   </div>
</section>

