<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-3">
                <a href="products.html" class="portfolio-box">
                    <img src="img/portfolio/x1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Services
                            </div>
                            <div class="project-name">
                                More Convenient Interface<br>More Efficient Management<br>More Flexible Customized Platform<br>More Powerful Computing Engine

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-3">
                <a href="products.html" class="portfolio-box">
                    <img src="img/portfolio/x2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Business Model
                            </div>
                            <div class="project-name">
                                Plan A -- Console Subscription<br>Plan B -- Enterprise Plan<br>Plan C -- Cooperation Plan
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-3">
                <a href="products.html" class="portfolio-box">
                    <img src="img/portfolio/x3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                More...
                            </div>
                            <div class="project-name">
                                Due to the actual purchase amount, Huanrong may provide free service time to help customer building required tools on GS platform
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
