<section class="banner">
    <div class="header-content-inner"> 
            <h2>Products  &  Services<h2>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Products</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3>More Convenient Interface</h3>
                <p class="text-muted">Graph Strategist offers a graphic coding-free programming interface to build quant strategies. With GS, traditional quant analysts can greatly improve their efficiency in building strategies and focusing on the analyzing and optimizing of the result. And fundamental analysts can leverage the existing strategies and event models to verify their investing ideas by altering parameters of strategies and combining different models. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3>More Efficient Management</h3>
                <p class="text-muted">Graph Strategist offers a highly efficient collaboration interface. Team members can conveniently communicate inside the program and managers can easily and coherently manage and monitor assignments. With the help of GS Collaboration Console, any research team can easily find a way to connect each member effectively and output priceless reports. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3>More Flexible Customized Platform</h3>
                <p class="text-muted">Fundamentally, Graph Strategist holds unlimited potentials thanks to its general-purpose core underlying infrastructure. Huanrong can build all kinds of models to control risks and dig customer values with a shortest developing span at a minimal cost, bringing about differentiated value to brokerages and help them surpassing competitors. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3>More Powerful Computing Engine</h3>
                <p class="text-muted">Graph Strategist provides a most powerful data computing engine. It canspeed up the calculation of strategies up to thousands of times than Matlab. With such a strong computing power, GS can compare possible profit gains of different strategies for a same event or of a same strategy with different parameters, so users can filter strategies with high wining ratio and better profit conditions.
                </p>
            </div>
        </div>
    </div>
</section>
